.scroll-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 1%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 1%,
    black 90%,
    transparent
  );
  overflow-x: hidden;
}

@keyframes pulse-glow {
  0%, 100% {
    box-shadow: 0 0 15px 2px rgba(168,85,247,0.4);
  }
  50% {
    box-shadow: 0 0 25px 4px rgba(168,85,247,0.7);
  }
}


@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 1.2s ease-out forwards;
}

.animate-fadeInUp {
  animation: fadeInUp 1.2s ease-out forwards;
}

.animate-fadeInRight {
  animation: fadeInRight 1.2s ease-out forwards;
}

/* Estado inicial */
.project-card {
  opacity: 0;
  transform: translateY(40px);
}



.project-card {
  opacity: 0;
  transform: translate(40px);
}


