.my-skills-carousel {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 5%,
    black 95%,
    transparent
  );
  overflow-x: hidden; /* para evitar que se vea el desbordamiento */
}

.my-skills-carousel::-webkit-scrollbar {
  display: none;
}

.parade-container {
  display: flex;
  animation: parade 40s linear infinite;
}

@keyframes parade {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
