@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

.animate-blink {
  display: inline-block;
  animation: blink 1s step-end infinite;
}

/* Solo aplicar en pantallas medianas o grandes */
@media (min-width: 768px) {
  .profile-shape {
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    margin: 0 2rem 1rem 0;
  }
}
